/*#region 清單*/
ul.moon_command_list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.moon_command_list li {
    display: inline;
}

ul.moon_command_list li a {
    color: black;
    float: left;
    padding: 4px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}
/*#endregion */

/*#region 前後的圓弧*/
.moon_command_list li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.moon_command_list li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*#endregion */

/*#region 選擇中標籤*/
ul.moon_command_list li a.active {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
}

ul.moon_command_list li a:hover:not(.active) {
    background-color: #ddd;
}
/*#endregion */



/*#region 空白範本*/
/*#endregion */